@import "../../styles/color-palette.scss";
@import "../../styles/templates.scss";

.side-navbar {
  height: 93.5%;
  background-color: $secondary_color;
  &.opened {
    width: 15%;
    transition: all 0.5s;
  }
  &.closed {
    width: 0%;
    transition: all 0.5s;
  }
  //portrait
  @media screen and (orientation: portrait) {
    position: absolute;
    bottom: 0;
    right: 0;
    &.opened {
      height: 6.5%;
      width: 100%;
      transition: height 0.5s ease;
    }
    &.closed {
      height: 0%;
      width: 100%;
      transition: height 0.5s ease;
    }
  }
}
