$primary_color: #45a3da;
$secondary_color: #1f2d50;

$alternative_color: #1a1a1a;
$alternative_color_2: #2c2f3e;

$success_color: #4bb543;
$error_color: #b43434;

// greys
$grey_1: #333333;
$grey_2: #666666;
$grey_3: #999999;
$grey_4: #b3b3b3;
$grey_5: #cbcdcc;
$grey_6: #e6e6e6;
$grey_7: #f2f2f2;
$grey_8: #808080;
$grey_9: #4d4d4d;
