@import "./color-palette.scss";
@import "./rtl.scss";
@import "./templates.scss";
@import "./fonts.scss";

.App {
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  height: 84.25%;
  padding: 2%;
}

.btn:focus {
  box-shadow: none !important;
}

.loading-spinner {
  opacity: 50%;
  background-color: #e6e6e6;
  background-image: url("../images/preloader.gif");
  background-repeat: no-repeat;
  background-position: 49% 49%;
}

.toastram {
  position: absolute;
  color: white;
  font-weight: bold;
  top: 2%;
  left: 5%;
  border-radius: 4px;
  padding: 1rem;

  &.success {
    background-color: $primary_color;
  }

  &.error {
    background-color: $error_color;
  }
}

.app-container {
  height: 100%;
  @include flex_display(row, flex-start);
}
